version: '3.8'
services:
  worker-order-paid:
    build: ./app/backend
    container_name: demo_worker_order_paid
    restart: always
    environment:
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
    command: npx ts-node src/rabbitmq/worker-order-paid.ts
    depends_on:
      - rabbitmq

  worker-order-shipped:
    build: ./app/backend
    container_name: demo_worker_order_shipped
    restart: always
    environment:
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
    command: npx ts-node src/rabbitmq/worker-order-shipped.ts
    depends_on:
      - rabbitmq

  worker-user-registered:
    build: ./app/backend
    container_name: demo_worker_user_registered
    restart: always
    environment:
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
    command: npx ts-node src/rabbitmq/worker-user-registered.ts
    depends_on:
      - rabbitmq

  worker-product-added:
    build: ./app/backend
    container_name: demo_worker_product_added
    restart: always
    environment:
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
    command: npx ts-node src/rabbitmq/worker-product-added.ts
    depends_on:
      - rabbitmq
  mongo:
    image: mongo:6
    container_name: demo_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: demo_shop
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: demo_rabbitmq
    restart: always
    ports:
      - "5672:5672"   # port for application
      - "15672:15672" # port for management panel
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  worker-order-created:
    build: ./app/backend
    container_name: demo_worker_order_created
    restart: always
    environment:
      MONGODB_URI: mongodb://mongo:27017/demo_shop
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
      MAILTRAP_USER: ${MAILTRAP_USER}
      MAILTRAP_PASS: ${MAILTRAP_PASS}
    command: npx ts-node src/rabbitmq/worker-order-created.ts
    depends_on:
      - rabbitmq
      - mongo

  backend:
      build: ./app/backend
      container_name: demo_backend
      restart: always
      ports:
        - "3000:3000"
      environment:
        MONGODB_URI: mongodb://mongo:27017/demo_shop
        JWT_SECRET: secretkey123
        PORT: 3000
        RABBITMQ_URL: amqp://user:password@rabbitmq:5672
        GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
        GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      command: npx ts-node src/server.ts
      depends_on:
        - mongo
        - rabbitmq

  frontend:
    build: ./app/frontend
    container_name: demo_frontend
    restart: always
    ports:
      - "3001:3001"
    depends_on:
      - backend

volumes:
  mongo_data:
